.cardTitle {
  transition:
    transform 120ms ease,
    font-size 120ms ease;
  transform-origin: left bottom;
}

.cardWrapper:hover .cardTitle {
  transform: scale(1.15);
}

.cardWrapper {
  position: relative;
  width: 100%;
  transition:
    transform 100ms ease,
    box-shadow 100ms ease;
}

.cardWrapper:hover {
  transform: scale(1.05);
  z-index: 10;
}

.card {
  border: 2px solid #a855f7;
  box-shadow: 0 4px 40px #a855f7;
  transition: box-shadow 100ms ease;
  container-type: inline-size;
}

.cardWrapper:hover .card {
  box-shadow: 0 16px 100px #a855f7;
}
